@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    
}

// order: base+typography > general layout + grid > page layout > components

@mixin respond($breakpoint){

    @if $breakpoint == phone-mini { //less then 400px
        @media only screen and (max-width: 25em) {@content};
    }

    @if $breakpoint == phone {  //less then 600px
        @media only screen and (max-width:37.5em) { @content } ;

    }
    @if $breakpoint == tablet { //less then 900px
        @media only screen and (max-width:56.25em) { @content } ;

    }
    @if $breakpoint == tablet-land { //less then 1200px
        @media only screen and (max-width:75em) { @content } ;

    }
    @if $breakpoint == big-desktop { //more then 1800px
        @media only screen and (min-width:112.5em) { @content } ;

    }
}