.feature-box {
        background-color: rgba($color-white, $alpha: .8);
        text-align: center;
        padding: 2.5rem;
        border-radius: 3px;
        font-size:1.5rem;
        box-shadow: .5rem 1rem 2rem rgba($color-black, $alpha: .8);
        transition: transform .3;

        @include respond(tablet-land){
            width: 85%;
            margin: 0 auto;
    
        }


    &__icon {
        font-size: 6rem;
        display:inline-block;
        background-image:linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text; 
        background-clip: text;
        color:transparent;

    }
    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

    &__text {

        @include respond(tablet-land){
            padding: 3rem;
        }
    }

}